/* style.css */
nav {
  width: 250px;
  height: 150vh;
  background-color: #503253;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  color: #c7c7c7;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #2e1a33;
}

.content {
  margin-left: 220px;
  padding: 20px;
}
body {
  background-color: rgb(31, 28, 28);
}