/* style.css */
nav {
  width: 200px;
  height: 100vh;
  background-color: #503253;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  color: #c7c7c7;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #2e1a33;
}

.content {
  margin-left: 220px;
  padding: 20px;
}
body {
  background-color: rgb(31, 28, 28);
}
.video-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.video-info h3 {
  color: #333;
  font-size: 18px;
}